In [63]:
def lesser_of_two_evens(num1,num2):
    if num1%2 == 0 and num2%2 == 0:
        if num1>num2:
            return num2
        else:
            return num1
    else:
        if num1>num2:
            return num1
        else:
            return num2
        
def lesser_of_two_evens_v2(num1,num2):
    if num1%2 == 0 and num2%2 == 0:
        return min(num1,num2)
    else:
        return max(num1,num2)

In [64]:
lesser_of_two_evens_v2(2,5)

5

In [18]:
def animal_crackers(string):
    new_string = string.split()
    if new_string[0][0].lower() == new_string[1][0].lower():
        return True
    else:
        return False

In [19]:
test = 'Crazy Kangaroo'

In [20]:
new = test.split()

In [21]:
new

['Crazy', 'Kangaroo']

In [22]:
new[0][1]

'r'

In [23]:
animal_crackers('Levelheaded Llama')

True

In [24]:
animal_crackers('Crazy Kangaroo')

False

In [25]:
def makes_twenty(n1,n2):
    if n1+n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [29]:
makes_twenty(0,12)

False

In [75]:
def old_macdonald(name):
    first_letter = name[0].upper()
    fourth_letter = name[3].upper()
    new_word = first_letter+name[1:3]+fourth_letter+name[4:]
    return new_word

In [76]:
old_macdonald('macdonald')

'MacDonald'

In [50]:
def master_yoda(string):
    new_string = string.split()
    reverse_new_string = new_string[::-1]
    yoda_string = " ".join(reverse_new_string)
    return yoda_string

In [51]:
test = 'I am home'

In [52]:
n = test.split()

In [53]:
n

['I', 'am', 'home']

In [54]:
r = n[::-1]

In [55]:
r

['home', 'am', 'I']

In [56]:
master_yoda('I am home')

'home am I'

In [57]:
master_yoda('We are ready')

'ready are We'

In [58]:
def almost_there(num):
    if -10<=100-num<=10 or -10<=200-num<=10:
        return True
    else:
        return False

In [59]:
almost_there(90)

True

In [60]:
almost_there(104)

True

In [61]:
almost_there(150)

False

In [62]:
almost_there(209)

True

In [70]:
test = 'develop'

In [71]:
new = test[0].upper()

In [72]:
new

'D'